<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Ofrecemos la mejor tasa para envío de remesas de Argentina a Venezuela. ¡Conócenos ahora!">
  <meta name="keywords" content="Remesas Venezuela,Remesas Argentina Venezuela,Envio de dinero Argentina Venezuela">
  <title>Moneyzuela | Preguntas frecuentes | Envío de remesas a Venezuela</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link href="../css/pruebacss.css" rel="stylesheet">

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark topNav fixed-top">
    <div class="container">
      <a class="navbar-brand topNav__logo" href="/index.html">Moneyzuela</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item topNav__element">
            <a class="nav-link" href="/index.html">Inicio
            </a>
          </li>
          <li class="nav-item topNav__element">
            <a class="nav-link topNav__element" href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item topNav__element">
            <a class="nav-link" href="como-operar.html">¿Cómo operar?</a>
          </li>
          <li class="nav-item topNav__element active">
            <a class="nav-link" href="preguntas-frecuentes.html">Preguntas frecuentes<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item topNav__element">
            <a class="nav-link" href="contactanos.html">Contáctanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- First block -->
  <div class="container">
    <div class="container containerTituloPreguntasFrecuentes_margen"><h1>Preguntas frecuentes</h1>
    </div>
    <div class="container">
      <ol class="list-group">
        <li class="list-group-item">Primera pregunta frecuente</li>
        <p>Primera respuesta a pregunta frecuente</p>
        <li class="list-group-item">Segunda pregunta frecuente</li>
        <p>Segunda respuesta a pregunta frecuente</p>
        <li class="list-group-item">Tercera pregunta frecuente</li>
        <p>Tercera respuesta a pregunta frecuente</p>
        <li class="list-group-item">Cuarta pregunta frecuente</li>
        <p>Cuarta respuesta a pregunta frecuente</p>
        <li class="list-group-item">Quinta pregunta frecuente</li>
        <p>Quinta respuesta a pregunta frecuente</p>
      </ol>     
    </div>
  </div>
  <!-- End first block -->

  <!-- Footer -->
  <footer class="pt-4 my-md-5 pt-md-5 border-top footerMoneyzuela">
    <div class="row">
      <div class="col-12 col-md">
        <p>Moneyzuela</p>
        <small class="d-block mb-3">&copy;2021. Todos los derechos reservados.</small>
      </div>
      <div class="col-6 col-md">
        <ul class="list-unstyled text-small">
          <li> <a class="footerMoneyzuela__links" href="/index.html"> Inicio </a> </li>
          <li> <a class="footerMoneyzuela__links" href="nosotros.html"> Nosotros </a> </li>
          <li> <a class="footerMoneyzuela__links" href="como-operar.html"> ¿Cómo operar? </a> </li>
          <li> <a class="footerMoneyzuela__links" href="preguntas-frecuentes.html"> Preguntas frecuentes </a> </li>
          <li> <a class="footerMoneyzuela__links" href="contactanos.html"> Contáctanos </a> </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <p> Suscríbete a nuestro boletín informativo para descuentos y novedades</p>
      </div>
      <div class="col-6 col-md">
        <form action=action class="formGridMedio">
          <div class="mb-3 cuantoEnvias">
            <label for="cuantoEnvias" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="cuantoEnvias" placeholder="Tu nombre...">
          </div>
          <div class="mb-3 cuantoReciben">
              <label for="cuantoReciben" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="cuantoReciben" placeholder="Tu e-mail...">
          </div>
            <div class="botonesFormGridMedio">
              <button type="submit" class="btn btn-primary mb-3" name="enviaFormGridMedio" value="Enviar">Enviar</button>
              <button type="reset" class="btn btn-primary mb-3" name="resetFormGridMedio" value="Vaciar">Vaciar</button>
            </div>
        </form>
      </div>
    </div>
  </footer>
  <!-- End footer -->

  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- End Bootstrap JavaScript -->


</body>

</html>
